html, body {
  background: white;
  color: #333;
  font: 16px/1.5 system-ui, sans-serif;

  box-sizing: border-box;
}

a {
  color: hsla(225, 100%, 75%, 1);
}

.score {
  padding: 0.1em 0em;
  border-radius: 0.25rem;
  color: white;
  background-color: hsla(93, 100%, 33%, 1);
  font-weight: bold;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.check {
  display: inline-block;
  text-align: center;
  font-size: 0.8rem;
  background-color: hsla(120, 100%, 90%, 1);
  padding: 2px 4px;
  border-radius: 100%;
  vertical-align: text-bottom;
}

body {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

h1:first-child {
  margin-top: 0;
}

main {
  max-width: 50rem;
  margin: 0 auto;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
}

@media (max-width: 700px) {
  main {
    display: block !important;
  }
}

.button {
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 10%;
  background: hsla(0, 0%, 34%, 1);
  position: absolute;
  text-decoration: none;
  top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pos-left {
  right: 1em;
}

.pos-right {
  left: 1em;
}

#banner {
  float: left;
  top: 2.5em;
  left: -3em;
  position: absolute;
  transform: rotate(-45deg);
  background: hsla(120, 100%, 30%, 1);
  color: white;
  padding-left: 3em;  padding-right: 3em;
  padding-top: .5em;  padding-bottom: .5em;
  border: 0;  margin: 0;
  height: auto;   width: auto;
}

@media (max-width: 910px) {
  main {
    padding: 5.5rem;
  }
}
